<product-sticky-atc>
  {% assign current_variant = product.selected_or_first_available_variant %}
  <div class="product-sticky-atc__container">
    <div class="product-sticky-atc__title">
      <h2 class="uppercase">{{ product.title }}</h2>
    </div>
    <div class="product-sticky-atc__buttons">
      <form
        action="/cart/add"
        id="sticky-atc-form"
        method="post"
        enctype="multipart/form-data"
        data-productid="{{ product.id }}">
        <input
          type="hidden"
          name="quantity"
          value="1">
        <input
          type="hidden"
          name="id"
          value="{{ current_variant.id }}">
        <div class="subscription-dropdown">
          <div class="subscription-dropdown__header uppercase">
            <span class="subscription-dropdown__header--text">Subscribe & Save</span>
            <span class="subscription-dropdown__header--icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none">
                <g clip-path="url(#clip0_211_151)">
                  <path d="M4.29292 5.292L0.707437 1.70717C0.0773849 1.07723 0.523532 0 1.41448 0H8.58544C9.47639 0 9.92253 1.07723 9.29248 1.70717L5.707 5.292C5.31649 5.68244 4.68343 5.68244 4.29292 5.292Z" fill="#67645E" />
                </g>
                <defs>
                  <clipPath id="clip0_211_151">
                    <rect
                      width="10"
                      height="6"
                      fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
          </div>
          <div class="subscription-dropdown__content">
            <span class="subscription-dropdown__close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="11"
                height="11"
                viewBox="0 0 11 11"
                fill="none">
                <g clip-path="url(#clip0_275_244)">
                  <path d="M0.536844 10.9996C0.430599 10.9996 0.326735 10.9681 0.238389 10.9091C0.150044 10.8501 0.0811855 10.7662 0.0405247 10.668C-0.000136131 10.5699 -0.0107729 10.4619 0.00995992 10.3577C0.0306927 10.2535 0.0818635 10.1577 0.157 10.0826L10.0828 0.156848C10.1835 0.0561073 10.3202 -0.000488281 10.4626 -0.000488281C10.6051 -0.000488281 10.7417 0.0561073 10.8425 0.156848C10.9432 0.257589 10.9998 0.394223 10.9998 0.536692C10.9998 0.679161 10.9432 0.815795 10.8425 0.916536L0.916687 10.8423C0.866852 10.8923 0.80764 10.9319 0.742455 10.9588C0.67727 10.9858 0.607395 10.9997 0.536844 10.9996Z" fill="white" />
                  <path d="M10.4627 10.9996C10.3922 10.9997 10.3223 10.9858 10.2571 10.9588C10.1919 10.9319 10.1327 10.8923 10.0829 10.8423L0.157092 0.916536C0.0563515 0.815795 -0.000244141 0.679161 -0.000244141 0.536692C-0.000244141 0.394223 0.0563515 0.257589 0.157092 0.156848C0.257833 0.0561073 0.394467 -0.000488281 0.536936 -0.000488281C0.679405 -0.000488281 0.816039 0.0561073 0.91678 0.156848L10.8426 10.0826C10.9177 10.1577 10.9689 10.2535 10.9896 10.3577C11.0103 10.4619 10.9997 10.5699 10.959 10.668C10.9184 10.7662 10.8495 10.8501 10.7612 10.9091C10.6728 10.9681 10.569 10.9996 10.4627 10.9996Z" fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_275_244">
                    <rect
                      width="11"
                      height="11"
                      fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            {% assign selling_plan_id = blank %}
            {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
                {% for variant_allocation in current_variant.selling_plan_allocations %}
                  <script>
                    console.log('plan_id', '{{ variant_allocation.selling_plan | json }} -- {{ selling_plan.id }}')
                  </script>
                  {% if variant_allocation.selling_plan.id == selling_plan.id and selling_plan_id == blank %}
                    {% assign selling_plan_id = selling_plan.id %}
                    {% assign discounted_price = variant_allocation.price %}
                    {% assign percent_off = discounted_price | times: 1.0 | divided_by: current_variant.price | round: 2 %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
            <input
              type="hidden"
              name="selling_plan"
              value="{{ selling_plan_id }}">
            {% comment %}
              <ul class="subscription-dropdown__list">
              {% for variant in product.variants %}
              <li
              class="subscription-dropdown__item {% if variant == current_variant %}active{% endif %}"
              data-percent="0.85"
              data-price="{{ variant.price }}"
              data-available="{{ variant.available | json }}"
              data-value="{{ variant.id }}"
              data-selling-plan="{{ selling_plan_id }}">
              Subscribe<span class="subscription-dropdown__sr"></span>
              {% unless product.has_only_default_variant %}{{ variant.title }}<span class="subscription-dropdown__sr"></span>{% endunless %}
              <span class="subscription-dropdown__item-price">{{ variant.price | times: 0.85 | money }}<span>{{ variant.price | money }}</span>
              </span>
              </li>
              <li
              class="subscription-dropdown__item"
              data-percent="1"
              data-price="{{ variant.price }}"
              data-available="{{ variant.available | json }}"
              data-value="{{ variant.id }}"
              data-selling-plan="">
              One-Time<span class="subscription-dropdown__sr"></span>
              {% unless product.has_only_default_variant %}{{ variant.title }}<span class="subscription-dropdown__sr"></span>{% endunless %}
              <span class="subscription-dropdown__item-price">{{ variant.price | money }}</span>
              </li>
              {% endfor %}
              </ul>
            {% endcomment %}
            <ul class="subscription-dropdown__list">
              {% for variant in product.variants %}
                {% for i in (1..2) %}
                  {% capture label %}
                    {% if i == 1 %}
                      Subscribe
                    {% else %}
                      One-Time
                    {% endif %}
                  {% endcapture %}
                  {% capture percent %}
                    {% if i == 1 %}
                      {{ percent_off }}
                    {% else %}
                      1
                    {% endif %}
                  {% endcapture %}
                  {% capture plan %}
                    {% if i == 1 %}
                      {{ selling_plan_id }}
                    {% else %}
                    {% endif %}
                  {% endcapture %}
                  <li
                    class="subscription-dropdown__item {% if variant == current_variant and i == 1 %}active{% endif %}"
                    data-percent="{{ percent }}"
                    data-price="{{ variant.price }}"
                    data-available="{{ variant.available | json }}"
                    data-value="{{ variant.id }}"
                    data-selling-plan="{{ plan }}">
                    {{ label }}<span class="subscription-dropdown__sr"></span>
                    {% unless product.has_only_default_variant %}
                      {{ variant.title }}<span class="subscription-dropdown__sr"></span>
                    {% endunless %}
                    <span class="subscription-dropdown__item-price">{{ variant.price | times: percent | money }}{% if i == 1 %}
                        <span>{{ variant.price | money }}</span>
                      {% endif %}
                    </span>
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <button
          type="submit"
          name="add"
          id="add"
          class="btn--primary uppercase"
          {% unless current_variant.available %}
          disabled{% endunless %}>
          {% if current_variant.available %}
            ADD TO CART |
            {% if discounted_price != blank %}
              {{ discounted_price | money }}
            {% else %}
              {{ current_variant.price | money }}{% endif %}
          {% else %}
            Sold Out
          {% endif %}
        </button>
      </form>
    </div>
  </div>
</product-sticky-atc>