{%- style -%}
{%  comment %}
  .section-{{ section.id }}-padding-top{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
    }
    .section-{{ section.id }}-padding-bottom{
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }
    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding-top{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;

    }
    .section-{{ section.id }}-padding-bottom{
      padding-bottom: {{ section.settings.paddingbottommobile | round: 0 }}px;
    }
  }
    {%  endcomment %}
{%- endstyle -%}

{% if section.settings.description != blank and section.settings.title1 != blank %}
  <div
    class="full-width-content section-{{ section.id }}-padding-top section-{{ section.id }}-padding-bottom"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <div class="container-1010 text-center">
      <div class="content full-format">
        {% if section.settings.title1 != blank %}
          <h2>
            {{ section.settings.title1 }}
            {% if section.settings.title2 != blank %}
              <span class="color-grey h2">{{ section.settings.title2 }}</span>
            {% endif %}
          </h2>
        {% endif %}

        {{ section.settings.description }}

        {% if section.settings.buttonText != blank %}
          <a
            href="{{ section.settings.buttonLink }}"
            title="Read More About {{ section.settings.buttonText }}"
            aria-label="Read More About {{ section.settings.buttonText }}"
            class="btn--primary m-t-15"
          >
            {{- section.settings.buttonText -}}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Full Width Content",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title (Black)"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title (Grey)"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Extra Settings",
      "info": "Recommened to be used by the developer only"
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding top (Desktop)",
      "default": 90
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top (Mobile)",
      "default": 80
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottommobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 0
    }
  ],

  "presets": [
    {
      "name": "Full Width Content"
    }
  ]
}
{% endschema %}
