{%- style -%}
{%  comment %}
  .section-{{ section.id }}-padding-top{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
    }
    .section-{{ section.id }}-padding-bottom{
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }
    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding-top{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;

    }
    .section-{{ section.id }}-padding-bottom{
      padding-bottom: {{ section.settings.paddingbottommobile | round: 0 }}px;
    }
  }
    {%  endcomment %}
{%- endstyle -%}

{% if section.settings.description != blank and section.settings.title1 != blank %}
  <div
    class="full-width-content v2 section-{{ section.id }}-padding-top section-{{ section.id }}-padding-bottom"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <div class="container-1320">
      <div class="box">
      <div class="content full-format">
        {% if section.settings.title1 != blank %}
          <h1>
            {{ section.settings.title1 }}
            {% if section.settings.title2 != blank %}
              <span class="color-grey h1">{{ section.settings.title2 }}</span>
            {% endif %}
          </h1>
        {% endif %}

        {{ section.settings.description }}

       
      </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Full Width Content Box",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title (Black)"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title (Grey)"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
    
  ],

  "presets": [
    {
      "name": "Full Width Content Box"
    }
  ]
}
{% endschema %}
