{% if section.blocks.size > 0 %}
  <div class="home-hero-mobile js__home-hero-mobile-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.backgroundimage != blank %}
          <div
            data-swiper-autoplay="{{- block.settings.slideLength -}}000"
            class="              slide swiper-slide"
          >
            {% if block.settings.buttonLink != blank %}
              <a
                class="full-link "
                href="{{ block.settings.buttonLink }}"
              >
              </a>
            {% endif %}
            {%- if block.settings.videobanner -%}
              <div class="video-section">
                <div class="video-wrapper">
                  {% if block.settings.video contains '.mp4' %}
                    <video muted loop autoplay>
                      <source src="{{ block.settings.video }}" type="video/mp4">
                    </video>
                  {% else %}
                    {% if block.settings.video != blank %}
                      {% assign videoId = block.settings.video | split: 'vimeo.com/' %}
                      <iframe
                        src="https://player.vimeo.com/video/{{ videoId[1] }}?loop=1&autoplay=1&muted=1"
                        frameborder="0"
                        allow="fullscreen"
                        allowfullscreen
                        loading="lazy"
                      ></iframe>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% else %}
              <div class="image-section">
                <img
                  src="{{ block.settings.backgroundimage | img_url: '750x920' }}"
                  alt="{{ block.settings.backgroundimage.alt}}"
                  loading="lazy"
                >
              </div>
            {% endif %}
            <div class="content">
              {% if block.settings.pretitle != blank %}
                <span class="tag">{{ block.settings.pretitle }}</span>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2 class="title">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.subtitle != blank %}
                <p>{{ block.settings.subtitle }}</p>
              {% endif %}
            </div>
            {% if block.settings.image != blank %}
              <div class="power-button">
                <img
                  src="{{ block.settings.image | img_url: '212x212' }}"
                  alt="{{ block.settings.image.alt}}"
                  loading="lazy"
                >
              </div>
            {% endif %}
            {% if block.settings.buttonText != blank %}
              <a
                class="btn--secondary "
                href="{{ block.settings.buttonLink }}"
              >
                {{- block.settings.buttonText -}}
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-pagination swiper-pagination-home-hero-mobile"></div>
    <div class="hero-slider-controls">
      <button id="hero-slider-toggle-mobile">
        <img src="{{ 'pause-icon.svg' | asset_url }}" alt="" class="pause">
        <img src="{{ 'play-icon.svg' | asset_url }}" alt="" class="play" style="display: none;">
      </button>
    </div>
  </div>
{% endif %}

<style>
   .home-hero-mobile  {
    .swiper-pagination-bullet {
      width: calc( 100% / {{ section.blocks.size }}) !important;
    }
  }
</style>
<style>
  .home-hero-mobile .video-section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .video-wrapper {
      height: 100%;
      width: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>

{% schema %}
{
  "name": "Home Hero Banner Mobile",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "checkbox",
          "id": "videobanner",
          "label": "Video Banner",
          "default": false
        },
        {
          "type": "url",
          "id": "video",
          "label": "Background Video"
        },
        {
          "type": "image_picker",
          "id": "backgroundimage",
          "label": "Background Image",
          "info": {
            "en": "750 x 920px Recommended"
          }
        },
        {
          "type": "number",
          "id": "slideLength",
          "label": "Slide Durration (Seconds)",
          "default": 4
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Middle Image",
          "info": {
            "en": "212 x 212px Recommended"
          }
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pre Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "buttonText",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "buttonLink",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Hero Banner Mobile"
    }
  ]
}
{% endschema %}

<style>
  .home-hero-mobile {
    display: none;
  }
  @media (max-width: 480px) {
    .hero-banner-slider {
      display: none;
    }
    .home-hero-mobile {
      display: block;
    }
  }
</style>
